body {
    font-family: 'Roboto', sans-serif;
    margin: 0px;
    background-color: black;
}

.container {
    display: grid;
    grid-template-columns: 1fr;
}

.nav-wrapper {
    display: flex;
    justify-content: space-between;
    padding: 38px;
}

.left-side {
    display: flex;
}

.right-side {
    color: goldenrod;
    font-weight: 600;
}

.brand {
    display: flex;
    justify-content: flex-end;
}

.brand img {
    width: 5%;
    height: auto;
}

.nav-wrapper > .left-side > div {
    margin-right: 20px;
    font-size: 0.9em;
    text-transform: uppercase;
}

.nav-link-wrapper {
    height: 22px;
    border-bottom: 1px solid transparent;
    transition: border-bottom 0.5s;
}

.nav-link-wrapper a {
    color: #8a8a8a;
    text-decoration: none;
    transition: color 0.5s;
    font-weight: 600;
}

.nav-link-wrapper:hover {
    border-bottom: 1px solid white;
}

.nav-link-wrapper a:hover {
    color: white;
}

.active-nav-link{
    border-bottom: 1px solid white;
}

.active-nav-link a {
    color: white !important;
}

.portfolio-items-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.portfolio-item-wrapper {
    position: relative;
}

.portfolio-img-background {
    height: 350px;
    width: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    filter:brightness(25%)
}

.img-text-wrapper {
    position: absolute;
    top: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    text-align: center;
    padding-left: 100px;
    padding-right: 100px;
    text-decoration: none;
}

.img-text-wrapper a {
    text-decoration: none;
}

.logo-wrapper span {
    width: 70%;
    margin-bottom: 20px;
    font-size: 3em;
    color: #ffffff;
    text-decoration: none;
    text-align: center;
    font-style: normal;
    font-weight: bold;
}

.img-text-wrapper .subtitle {
    transition: 1s;
    font-weight: 600;
    color: transparent;
}

.img-text-wrapper:hover .subtitle {
    font-weight: 600;
    color: goldenrod;
}

.img-darken {
    transition: 1s;
    filter: brightness(10%);
}

.two-column-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.profile-image-wrapper {
    width: 100%;
}

.profile-image-wrapper img {
    padding-top: 50px;
    width: 70%;
}

.profile-content-wrapper {
    padding: 30px;
    color: white;
}

.profile-content-wrapper p {
    font-weight: 600;
}

.profile-content-wrapper h1 {
    color: goldenrod;
}