body {
    font-family: 'Podkova', serif;
    margin: 0px;
    background-color: #3A4E48;
}

.container {
    display: grid;
    grid-template-columns: 1fr;
}

.nav-wrapper {
    font-family: 'Short Stack', cursive;
    display: flex;
    justify-content: space-between;
    padding: 38px;
}

.left-side {
    display: flex;
}

.right-side {
    color: #BEB0A7;
}

.brand {
    display: flex;
    justify-content: flex-end;
}

.brand img {
    width: 5%;
    height: auto;
}

.nav-wrapper > .left-side > div {
    margin-right: 20px;
    font-size: 0.9em;
    text-transform: uppercase;
}

.nav-link-wrapper {
    height: 22px;
    border-bottom: 3px solid transparent;
    transition: border-bottom 0.5s;
}

.nav-link-wrapper a {
    color: #8B9D83;
    text-decoration: none;
    transition: color 0.5s;
    font-size: 1.5em;
}

.nav-link-wrapper:hover {
    border-bottom: 3px solid #BEB0A7;
}

.nav-link-wrapper a:hover {
    color: #BEB0A7;
}

.active-nav-link{
    border-bottom: 3px solid #BEB0A7;
}

.active-nav-link a {
    color: #BEB0A7 !important;
}

.portfolio-items-wrapper {
    display: grid;
    gap: 1em;
    grid-template-columns: 1fr 1fr;
    padding-left: 3em;
    padding-right: 3em;
    padding-bottom: 3em;
}

.portfolio-item-wrapper {
    position: relative;
    
}

.portfolio-img-background {
    height: 350px;
    width: 100%;
    background-size: cover;
    background-position:top;
    background-repeat: no-repeat;
    transition: 1s;
    border-radius: 20px;
    filter:brightness(80%);
}

.img-text-wrapper {
    font-family: 'Podkova', serif;
    position: absolute;
    top: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    text-align: center;
    padding-left: 100px;
    padding-right: 100px;
    text-decoration: none;
}

.img-text-wrapper a {
    text-decoration: none;
}

.img-text-wrapper .subtitle {
    transition: 1s;
    color: transparent;
}

.img-text-wrapper:hover .subtitle {
    color: #8B9D83;
}

.img-darken {
    transition: 1s;
    filter: brightness(10%);
}

.two-column-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.profile-image-wrapper {
    width: fit-content;
    border-radius: 10px;
    height: auto;
    padding-left: 3em;
}

.profile-image-wrapper img {
    padding: 3em;
    width: 50%;
}

.profile-content-wrapper {
    color: white;
    padding-right: 5em;
}

.profile-content-wrapper p {
}

.profile-content-wrapper h1 {
    color: #BEB0A7;
}